/Practicum1/nbproject/private/private.properties
/Practicum1/nbproject/private/private.xml
/schedulerVB/build/
/schedulerVB/nbproject/private/
/Practicum1/nbproject/private/
/Practicum1/SRT10000.txt
/Practicum1/SRT20000.txt
/Practicum1/SRT50000.txt
/Practicum1/FCFS10000.txt
/Practicum1/FCFS20000.txt
/Practicum1/FCFS50000.txt
/Practicum1/RR10000.txt
/Practicum1/RR20000.txt
/Practicum1/RR50000.txt
/Practicum1/SJF10000.txt
/Practicum1/SJF20000.txt
/Practicum1/build/classes/.netbeans_automatic_build
/Practicum1/build/classes/.netbeans_update_resources
/Practicum1/dist/